.App {
	text-align: center;
}

.c-comment__form {
	display: flex;
	flex-direction: column;
	padding: 20px 20px 0;
}

.form-input {
	height: 2rem;
	margin: 5px;
}

.c-comment__block {
	display: inline-block;
	width: 40rem;
	margin: 0 0 20px 0;
	background: #333;
	padding: 20px;
}

.comment-author {
	margin-right: 5px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.comment-date {
	margin-left: 5px;
}

.comment-content {
	display: block;
	margin: 20px;
	padding: 10px;
}

.form-btn {
	border: 0;
	width: 120px;
	height: 40px;
	margin: 10px auto 10px;
	background-color: #2199e8;
	color: white;
	font-size: medium;
}
